@{
    Layout = "Layout_Login";
}

@model User


<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    <div class="d-flex flex-column flex-root">
        <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
            <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat" style="background-image: url('~/media/bg/bg-3.jpg');">
                <div class="login-form text-center p-7 position-relative overflow-hidden">
                    <div class="d-flex flex-center mb-15">
                        <a href="#">
                            <img src="~/media/logos/CKRENT.png" class="max-h-100px " />
                        </a>
                    </div>
                    <div class="login-signin">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="container  w-350px">
                            <div class="card">
                                <div class="card-body">
                                    <form asp-controller="Home" asp-action="Login" method="post">
                                        <div class="form-group">

                                            <label asp-for="UserName"></label>
                                            <input asp-for="UserName" class="form-control" required />
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password"></label>
                                            <input asp-for="Password" class="form-control" type="password" required />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div>
                                            <span class="text-danger">@ViewBag.Error </span>
                                        </div> 
                                        <br />
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary" name="name" value="Giriş" />
                                        </div>
                                    </form>
                                    @*<div class="form-group">
                                        <a href="/Home/ResetPassword">Şifre Sıfırlama</a>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
