@{
    Layout = "_Layout";
}
@model UserDTO
<div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
    <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <h5 class="font-weight-bolder mr-2">Yönetim Paneli</h5>
            <h5 class="font-weight-bolder mr-2">-</h5>
            <h5 class="font-weight-bolder mr-2">Kullanıcı Ekleme </h5>
        </div>
    </div>
</div>
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form asp-controller="User" asp-action="Create" method="post">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="control-label">Ad Soyad</label>
                            <input class="form-control" asp-for="FullName" required />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Kullanıcı Adı</label>
                            <input class="form-control" asp-for="UserName" required />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label class="control-label">Email Adresi</label>
                            <input class="form-control" asp-for="Email" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 ">
                            <label>Yetkili mi?</label>
                            <div class="checkbox">
                                <label class="control-label ">
                                    <input style="width: 20px; height: 20px;" class="ml-5 mt-3" asp-for="IsAdmin" />
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Aktif Mi?</label>
                            <div class="checkbox">
                                <label class="control-label ">
                                    <input style="width: 20px; height: 20px;" class="ml-5 mt-3 " asp-for="IsActive" />
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-12">
                            <input type="submit" class="btn btn-primary" value="Kaydet" style="float: right;" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>